.product__show-inner {
	display: flex;
	width: 100%;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		// overflow: hidden;
	}
}

.product__show-one {
	.p__show-back {
		width: 27%;
		position: relative;
		.text {
			padding-top: 90%;
			font-size: 2.6rem;
			line-height: 67.5%;
			font-weight: bold;
			z-index: 10;
			position: absolute;
			bottom: 2px;
			left: -2px;
			@media ($mb_sm) {
				font-size: 3rem;
			}
			@media ($mb_md) {
				font-size: 5.8rem;
				bottom: 4px;
			}
			@media ($mb_lg) {
				font-size: 7.4rem;
			}
			@media ($mb_xl) {
				font-size: 10rem;
				bottom: 6px;
			}
			@media ($mb_2xl) {
				font-size: 12rem;
			}
		}
	}
	.p__show-img {
		width: 58%;
	}
	.p__show-img-two {
		width: 15%;
	}
}
.product__show-two {
	.p__show-back {
		width: 38%;
		position: relative;
		order: 3;
		.text {
			color: $color2;
			padding-top: 90%;
			font-size: 2.6rem;
			line-height: 67.5%;
			font-weight: bold;
			z-index: 10;
			position: absolute;
			bottom: 2px;
			left: -3px;
			@media ($mb_sm) {
				font-size: 3rem;
			}
			@media ($mb_md) {
				font-size: 5.8rem;
				bottom: 4px;
			}
			@media ($mb_lg) {
				font-size: 7.4rem;
			}
			@media ($mb_xl) {
				font-size: 10rem;
				bottom: 6px;
			}
			@media ($mb_2xl) {
				font-size: 12rem;
			}
		}
	}
	.p__show-img {
		width: 31%;
		order: 1;
	}
	.p__show-img-two {
		width: 31%;
		order: 2;
	}
}
.product__show-three {
	.p__show-back {
		width: 21%;
		position: relative;
		.text {
			color: $color1;
			font-size: 2.6rem;
			line-height: 67.5%;
			font-weight: bold;
			z-index: 10;
			position: absolute;
			left: 71.5%;
			top: 69%;
			height: 67.5%;
			transform: rotate(-90deg);
			transform-origin: 0% 47%;

			@media ($mb_sm) {
				font-size: 3rem;
			}
			@media ($mb_md) {
				font-size: 5.8rem;
			}
			@media ($mb_lg) {
				font-size: 7.4rem;
			}
			@media ($mb_xl) {
				font-size: 10rem;
			}
			@media ($mb_2xl) {
				font-size: 12rem;
			}
		}
	}
	.p__show-img {
		width: 79%;
	}
}
.footer {
  .header__menu__footer {
    .row {
      margin: 0;
    }
    .header__copyright {
      display: block;
      max-width: 100%;
    }
  }
}